# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\NEC_Final\elecorn\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
